<div class="col-lg-6">
    <h1 *ngIf="Sensor.name">"Sensore.name"</h1>
    <h1 *ngIf="!Sensor.name">"New Sensor"</h1>
    <form #createOrUpdateSensor="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label> Name:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="Sensor.name" class="form-control" required /> 
      </p>
      <p>
        <label> Location:</label>
        <label> Latitude:</label>
        <input type="number" #lat="ngModel" name="lat" [(ngModel)]="Sensor.location.lat" class="form-control" required /> 
        <label> Longitude:</label>
        <input type="number" #lng="ngModel" name="lng" [(ngModel)]="Sensor.location.lng" class="form-control" required /> 
      </p>
      <p class="col-lg-10">
        <label> active:</label>
        <input type="checkbox" #active="ngModel" name="active" [(ngModel)]="Sensor.active" class="form-control" required /> 
      </p>
      <p>
        <label> id:</label>
        <input type="text" #id="ngModel" name="id" [(ngModel)]="Sensor.id" class="form-control" required /> 
      </p>
      <p>
        <label> Min Value:</label>
        <input type="number" #minValue="ngModel" name="minValue" [(ngModel)]="Sensor.minValue" class="form-control" required /> 
      </p>
      <p>
        <label> Max Value:</label>
        <input type="number" #maxValue="ngModel" name="maxValue" [(ngModel)]="Sensor.maxValue" class="form-control" required /> 
      </p>
   
      <p>
        <input type="submit" value="Save" class="btn btn-primary"/>
      </p>
    </form>
  </div>
