<p>
    sensor-event works!
</p>

<div>
  <h1 *ngIf="SensorEvent.name">SensorEvent.name</h1>
  <h1 *ngIf="!SensorEvent.name">New Sensor Event</h1>
    <form>
    <p>
      <label>id</label>
      <input type="number" #id="ngModel" name="id" [(ngModel)]="SensorEvent.id" class="form-control"  required  />
    </p>
    <p>
      <label>Create Date</label>
      <input type="date" #createAt="ngModel" name="createAt" [(ngModel)]="SensorEvent.createAt" class="form-control"  required  />
    </p>
    <p>
      <label>Value</label>
      <input type="number" #value="ngModel" name="value" [(ngModel)]="SensorEvent.value" class="form-control"  required  />
    </p>
    <p>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </p>
  </form>
</div>
  